<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 

	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buybuyup.api.mapper.ProductXtzgMapper">

	<select id="getProductMainByParam" parameterType="java.util.Map" resultType="java.util.Map">
	 	 select id,
	 	        seNo,
	 	        orderTime,
	 	        companyId,
	 	        productId,
	 	        userId,
	 	        status,
	 	        bookingAmount,
	 	        createTime,
	 	        updateTime
	 	     from product_main
		<where>
			<if test="companyId != null and companyId != '' or companyId == 0">  
	        	and companyId = #{companyId}  
	        </if>
	        <if test="productId != null and productId != '' or productId == 0">  
	        	and productId = #{productId}
	        </if>
		</where>
	</select>
	
	<select id="getProductDetail" parameterType="java.lang.Integer" resultType="java.util.Map">
		 select id,
	 	        seNo,
	 	        orderTime,
	 	        companyId,
	 	        productId,
	 	        userId,
	 	        status,
	 	        bookingAmount,
	 	        createTime,
	 	        updateTime
	 	     from product_main WHERE id=#{id}	
	</select>
	
</mapper>

	